/* -------------------------------- */
/* topbar section */
/* -------------------------------- */
 .container-fluid {
  padding: 0;
  margin: 0;
}
.topbar {
  margin: 0;
  padding: 0;
}
.success {
  background-color: #015584;
  height: 50vw;
  padding-top: 5vw;
  padding-left: 10vw;
  padding-right: 0;
  min-width: 100vw;
}

.logo {
  width: 40%;
  height: 40%;
}

.title {}
.title h1 {
  font-family: 'Roboto Slab', serif;
  font-size: 8vw;
}
.w {
  color: #015584;
}
.ip {
  color: #E8D367;
}

.box {
  width: 100vw;
  height: 8vw;
  background-color: #E8D367;
}

.blurb {
  color: white;
  font-size: 1.5vw;
  max-width: 65vw;
  padding-top: 10px;
}

/* -------------------------------- */
/* preview section */
/* -------------------------------- */
.previews {
    padding: 0% 25%;
    margin-bottom: 1%;
}

.previews img {
    display: block;
    margin: auto;
    max-height: 20vh;
    max-width: 100%;
}

.previews h3 {
    margin-top: 5%;
    text-align: center;
}

/* -------------------------------- */
/* weekend roundup section */
/* -------------------------------- */
.weekend-roundup {
    font-size: 14px;
}

.weekend-roundup .article-box {
    margin: 20px 0px;
    padding: 0% 12.5%;
}

/* text with lines: https://stackoverflow.com/questions/15557627/heading-with-horizontal-line-on-either-side */
.decorated{
    overflow: hidden;
    text-align: center;
}
.decorated > span{
   position: relative;
   display: inline-block;
}
.decorated > span:before, .decorated > span:after{
   content: '';
   position: absolute;
   top: 50%;
   border-bottom: 2px solid;
   width: 591px; /* half of limiter*/
   margin: 0 20px;
}
.decorated > span:before{
   right: 100%;
}
.decorated > span:after{
   left: 100%;
}

.weekend-roundup img {
    max-height: 100%;
    max-width: 95%;
    padding: 2%;
    display: block;
    margin: auto;
}

.weekend-roundup h2 {
    text-align: center;
    margin: 10px;
}

.weekend-roundup p {
    padding: 0% 10%;
}
