<!DOCTYPE HTML>
<html>

<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">

    <link href="https://fonts.googleapis.com/css?family=Roboto+Slab:700" rel="stylesheet">
</head>

<body>
    <div class="topbar success container-fluid">
      <div class="col-sm-12 col-md-10 col-md-offset-2">
        <img class="logo" src="/static/img/db_logo.svg" />
        <div class="title">
          <h1>Weekend</h1>
        </div>
      </div>
        <div class="row previews">
            <!-- have from two to four stories -->
            {% for story in preview %}
            <div class="col-lg-4 preview-box">
                <div class="row">
                    <div class="col-sm-12">
                        <img src={{story.picture}}>
                    </div>
                    <div class="col-sm-12">
                        <h3>{{story.headline}}</h3>
                    </div>
                </div>
            </div>
            {% endfor %}
        </div>
        <div class="row weekend-roundup">
            <div class="col-sm-12">
                <h2 class="decorated"><span>Weekend Roundup</span></h2>
            </div>
            {% for story in weekend_roundup %}
            <div class="col-sm-12 article-box">
                <div class="row">
                    <!-- picture on the left -->
                    {% if loop.index0 % 2 == 0 %}
                    <div class="col-sm-12 col-md-6">
                        <img src={{story.picture}}>
                    </div>
                    {% endif %}
                    <div class="col-sm-12 col-md-6">
                        <div clokass="row">
                            <div class="col-sm-12">
                                <h2>{{story.headline}}</h2>
                            </div>
                            <div class="col-sm-12">
                                <p>{{story.description}}</p>
                            </div>
                        </div>
                    </div>
                    <!-- picture on the right -->
                    {% if loop.index0 % 2 == 1 %}
                    <div class="col-sm-12 col-md-6">
                        <img src={{story.picture}}>
                    </div>
                    {% endif %}
                </div>
            </div>
            {% if loop.index == loop.length / 2 %}
            <div class="col-sm-12">
                <h2 class="decorated"><span></span></h2>
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</body>

</html>
