<!DOCTYPE HTML>
<html>

<head>

    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
        crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/styles.css') }}">
</head>

<body>
    <div class="container-fluid">
        <div class="grace's-part">
    
        </div>
        <div class="simon's-part"> 
    
        </div>
        <div class="weekend-roundup howard's-part">
            <div class="row">
                <div class="col-sm-12">
                    <h1>Weekend Roundup</h1>
                </div>
                {% for story in weekend_roundup %}
                <div class="col-sm-12 col-md-6">
                        <!-- <img src="http://via.placeholder.com/350x250" -->
                </div>
                <div class="col-sm-12 col-md-6">
                    {{story.headline}}
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</body>

</html>